doctype html
html(lang='en', ng-app)
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/styles.css')

    meta(property='og:site_name', content='Coffee' data-app)
    meta(property='og:url', content='#{domain}' data-app)
    meta(property='og:title', content='Coffee' data-app)
    meta(property='og:type' name='og:type' content='website' data-app)
    meta(property='og:image' name='og:image' content='#{domain}/images/apple-touch-icon-precomposed.png' data-app)
    meta(property='fb:app_id' name='fb:app_id' content='401715859888024' data-app)
    meta(property='al:android:app_name' name='al:android:app_name' content='Site' data-app)
    meta(property='al:ios:app_name' name='al:ios:app_name' content='Site' data-app)
  body
    block content
